.btn {
	padding: 10px;
	background-color: #0069ff;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	transition: background-color 0.05s;
	text-align: center;
}

.btn:hover {
	background-color: #0059ef;
	transition: background-color 0.05s;
}

.btn:active {
	background-color: #0049df;
}